@charset "UTF-8";

pre{
	background : black;
	border : 5px dashed green;
	font-size : 1.3em;
	color : white;
	font-weight : bold;
	padding: 20px;
}

.box{
	background: linear-gradient(45deg,#F8E0F7,#EFFBFB,#F7F8E0);
	height: auto;
	margin-top: 10px;
	padding: 20px;
}

.box div{
	border: 2px solid lightblue;
	padding: 10px;
	height: auto;
	margin: 5px;
}

.box input[type=button]{
	background: #F2F2F2;
	color: black;
	width: 200px;
	height: auto;
	padding: 10px 5px;
	border-radius: 15px;
	font: 1.2em a말괄량이;
}